.loading {
	@include size(100%);
	top: 0;
	left: 0;
	position: fixed;
	background: var(--white-color);
	z-index: 900;
	opacity: 1;
	pointer-events: auto;
	&.--hide {
		opacity: 0;
		pointer-events: none;
	}
}
